@import"_Button";
@import"_colortheme";
@import"_FontFamily";
@import"_heading";
@import"_navbar";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }


//   Boot Strap Class Container Padding 
.container{
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.text_center{
    text-align: center;
    align-items: center;
}
.img-main
{
    img{
    width: 100%;
    }
}

.inner-container-money_trans{
    padding: 3rem 3rem;
    p{
        margin-top: 1rem;
        margin-left: 2rem;
    }
}

.Feature-section-essential_padding{
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}

.planer_YM{
    background-color:$color-white;
    width: 300px;
    padding: 0.3rem 0.2rem;
    border-radius: 1rem;
}
.flex-continer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}
.contributer_padding {
    img{   
         padding: 4rem 3rem;
       }
}

.div_center  {
    display: grid;
	place-items: center   
}